.stage {
	background-image: url("/images/backdrop.png");
	position: absolute;
	width: 512px;
	height: 480px;
	left: 50%; top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

@keyframes slotanimation{
  0%   { background-position:-482px -468px; }
  10%   { background-position:-302px -468px; }
  20%   { background-position:-422px -468px; }
  30%   { background-position:-362px -468px; }
  40%   { background-position:-482px -468px; }
  50%   { background-position:-302px -468px; }
  60%   { background-position:-422px -468px; }
  70%   { background-position:-482px -468px; }
  80%   { background-position:-302px -468px; }
  90%   { background-position:-422px -468px; }
  100% { background-position:-482px -468px; }
}

#slot1, #slot2, #slot3 {
	display: block;
	width: 56px;
	height: 56px;
	background-color: white;
	float: left;
	margin-top: 180px;
	background-image: url("/images/smb2_various_sheet.png");
	background-size: 900px 910px;
}

.animation {
	animation: slotanimation 1s steps(1); 
}

#slot1 {
	margin-left: 164px;
	animation-iteration-count: 3;
}

#slot2 {
	animation-iteration-count: 7;
}

#slot3 {
	animation-iteration-count: 10;
}

#slot2, #slot3 {
	margin-left: 8px;
}

.txt {
    font-family: 'SuperMarioBros', Fallback, sans-serif;
    color: white;
    font-size: 21px;
}

#coins {
	background-color: black;
	position: absolute;
	top: 264px;
	left: 287px;
	width: 30px;
}

.state-cherry {
	background-position:-482px -468px;
}

.state-star {
	background-position:-302px -468px;
}

.state-vegetable {
	background-position:-422px -468px;
}

.state-enemy {
	background-position:-362px -468px;
}
